<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pro.bs.dao.RoleDao">

    <resultMap id="BaseResultMap" type="com.pro.bs.model.RoleModel">
        <result column="id" property="id"/>
        <result column="role_name" property="roleName"/>
        <result column="role_power" property="rolePower"/>
        <result column="role_rank" property="roleRank"/>
        <result column="is_delete" property="isDelete"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <parameterMap id="roleParam" type="com.pro.bs.model.RoleModel"/>
<select id="findAll" resultMap="BaseResultMap">
    select * FROM  role ;
</select>
<!--<select id="findByname" parameterMap="String" resultMap="BaseResultMap">-->
    <!--SELECT * FROM role WHERE role_name=#{role_name} AND is_delete=0;-->
<!--</select>-->
<insert id="addRole" parameterMap="roleParam" >
    INSERT INTO role (role_name,role_power,role_rank,create_time) VALUES (
    #{roleName},#{rolePower},#{roleRank},now()
    )
</insert>
<update id="updaterole" parameterMap="roleParam" >
    UPDATE role SET role_name=#{roleName},role_power=#{rolePower},role_rank=#{roleRank},
    create_time=now()  WHERE id=#{id}
</update>

</mapper>