# Maven
target/

# Eclipse
.settings/
.classpath
.project
*/.project
*/.classpath

# Intellij
.idea/*
*.iml
*.iws

# log
logs/*
*.log

Mybatis_generate.xml
*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
